*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*----Tipography-----*/
a{
text-decoration: none;
transition: all ease 500ms;
font-size: 16px;
color: #3C4858;
line-height: 26px;
}
a:hover{
text-decoration: none;
color: #626262;

}
p, h5{
font-size: 16px;
color: #626262;
line-height: 26px;
font-weight: 300;
}

ul, ol, li{
  list-style: none;
}

h1{
  font-size: 42px;
  color: #3C4858;
  line-height: 52px;
  font-weight: 300;
}

h2{
  font-size: 34px;
  color: #3C4858;
  line-height: 42px;
  font-weight: 300;
}

h3{
  font-size: 26px;
  color: #3C4858;
  line-height: 32px;
  font-weight: 300;
}

h4{
  font-size: 20px;
  color: #626262;
  line-height: 26px;
  font-weight: 300;
}

@media (min-width: 500px) and (max-width: 720px) {
 a, p, h5{
    font-size: 14px ;
}
h1{
  font-size: 36px;
  line-height: 46px;   
}
h2{
  font-size: 24px; 
  line-height: 36px;  
}
h3{
  font-size: 18px;
  color: #3C4858;  
}
h4{
  font-size: 16px;  
}

}/*----end---*/
@media (min-width: 320px) and (max-width: 499px) {

h1{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;  
}
h2{
  font-size: 22px; 
  line-height: 32px;
  font-weight: 500; 
}
h3{
  font-size: 16px; 
  line-height: 24px;
  font-weight: 500; 
}
h4, p{
  font-size: 15px;
   line-height: 24px;
   font-weight: 400; 
}
h5{
  font-weight: 400;
}

}/*----end of tipography-----*/


/*----general rules-----*/
body{
  font-family: 'Montserrat', sans-serif;
}
.btn{
  border: none;
  border-radius: 3px;
}
.container{
  max-width:  1200px;
  width: 90%;
  padding: 60px 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}